#conteneur{
    display: flex;
    justify-content:space-between;
    border: 1px solid black;
    width:600px;
    
    
} 
.element1{
    background-color: blue;
    width:70px;
    padding: 20px;
} 
.element2{
    background-color: green;
    width:70px;
    padding: 20px;
} 
.element3{
    background-color: red;
    width:70px;
    padding:20px
}
    






