#conteneur{
    display: flex;
    align-items:center;
    flex-direction:row;
    justify-content:center;
    border: 1px solid black;
    width:600px;
    height: 300px;
    
} 

    
    
  


.element:nth-child(2){ 
    background-color: green;
    width:70px;
    padding: 20px;
    align-self:flex-end; /*seul ce bloc sera aligné à la fin*/
}


    






